<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="lt.vu.mybatis.model.Part" alias="Part"/>
        <typeAlias type="lt.vu.mybatis.model.Computer" alias="Computer"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="ComputerStoreSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/PartMapper.xml"/>
        <mapper resource="mybatis.xml/ComputerMapper.xml"/>
    </mappers>
</configuration>
